<!DOCTYPE html>
<html lang="en">
<head>
  <% include components/head.ejs %>
  <title>Document</title>
</head>
<body>
  <% include components/left.inc.ejs %>
  <h1>test</h1>
  <% for(var i = 0; i<banner.length;i++){ %>
  <ul>
    <li><%= banner[i].id %></li>
    <li><%= banner[i].title %></li>
    <li><%= banner[i].description %></li>
    <li><%= banner[i].herf %></li>
    <li>
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"> -->
        <a class="btn btn-default" href="?act=mod&id=<%=banner[i].id%>" role="button">modify</a>
        <!-- modify -->
      <!-- </button> -->
      <a class="btn btn-default" href="?act=del&id=<%=banner[i].id%>" onclick="return confirm('delete?')" role="button">delete</a>
    </li>
  </ul>
  <% } %>


</body>
</html>
